<div class="container">
  <div class="row mt-3">
    <div class="col-12">
      <div class="card shadow">
        <div class="card-body text-center">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="sexo"
              id="todos"
              value="todos"
            />
            <label class="form-check-label" for="todos">Todos (5)</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="sexo"
              id="masculino"
              value="option2"
            />
            <label class="form-check-label" for="masculino">Masculino (3)</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="sexo"
              id="femenino"
              value="masculino"
            />
            <label class="form-check-label" for="femenino"
              >Femenino (2)</label
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <div class="card shadow">
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Sexo</th>
                <th scope="col">Salario</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td >1</td>
                <td>Juan</td>
                <td>Pérez</td>
                <td>masculino</td>
                <td>25000</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
